/* Galeria*/
.galeria{
    width: 100%;
    
}

.galeria h1{
    text-align: center;
    font-size: 46;
    margin-bottom: 2rem;
    font-family: Bebas Neue;
    color: var(--principal-color);
}
.container-galeria{
    background-color: var(--principal-color);
    padding: 3rem;
    margin: 0;
    border: 2px solid rgb(172, 37, 37);
    width: 100%;
    height: 90%;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: 1fr 1fr 1fr;
    position: static;    
}


.foto1{
    grid-column: 1/2;
    grid-row: 2/3;
    background: url(../Imagenes/peluqueria/Peluqueria1.png) no-repeat center/cover;
    transition: all 0.5s;
}
.foto1:hover{
    transform: scale(1.1);
}
.foto2{
    background: url(/assets/Imagenes/peluqueria/Peluqueria1.png) no-repeat center/cover;
    grid-column: 3/4;
    grid-row: 1/2;
    transition: all 0.5s;
}
.foto2:hover{
    transform: scale(1.1);
}

.foto3{
    background: url(/assets/Imagenes/peluqueria/Peluqueria7.png) no-repeat center/cover;
    grid-column: 1/3;
    grid-row: 1/1;
    transition: all 0.5s;
}
.foto3:hover{
    transform: scale(1.1);
}

.foto4{
    background: url(/assets/Imagenes/peluqueria/Peluqueria9.png) no-repeat center/cover;
    grid-column: 4/4;
    grid-row: 1/4;
    transition: all 0.5s;
}
.foto4:hover{
    transform: scale(1.1);
}

.foto5{
    background: url(/assets/Imagenes/peluqueria/Peluqueria8.png) no-repeat center/cover;
    grid-column: 2/3;
    grid-row: 2/4;
    transition: all 0.5s;
}
.foto5:hover{
    transform: scale(1.1);
}
.foto6{
    background: url(/assets/Imagenes/peluqueria/Peluqueria5.png) no-repeat center/cover;
    grid-column: 1/2;
    grid-row: 3/3;
    transition: all 0.5s;
}
.foto6:hover{
    transform: scale(1.1);
}
.foto7{
    background: url(/assets/Imagenes/peluqueria/Peluqueria3.png) no-repeat center/cover;
    transition: all 0.5s;
}
.foto7:hover{
    transform: scale(1.1);
}
.foto8{
    background: url(/assets/Imagenes/peluqueria/Peluqueria2.png)no-repeat center/cover ;
    transition: all 0.5s;
}
.foto8:hover{
    transform: scale(1.1);
}

@media (max-width: 684px){

    .foto1{
        visibility: hidden;
    }
    .foto2{
        visibility: hidden;
    }

    .foto3{
        grid-column: 1/6;
        grid-row: 1/2;

    }
    .foto3:hover{
        transform: none;
    }
    .foto4{
        visibility: hidden;
    }

    .foto6{
        grid-column: 3/5;
        grid-row: 2/2;
    }

    .foto6:hover{
        transform: none;
    }
    .foto5{
        grid-column: 1/3;
        grid-row:2/2;

    }
    .foto5:hover{
        transform: none;
    }
    
    .foto7{
        grid-column: 1/6;
        grid-row: 3/3;
    }

    .foto7:hover{
        transform: none;
    }
    
    .foto8{
        visibility: hidden
    }

}
